*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    /* background-color: blue; */
    justify-content: space-evenly;
    /* height: 100vh; */
}

.box{
    display: flex;
    background-color: aqua;
    width: 20%;
    height: 100px;
    justify-content: center;
    align-items: center;
}